anthropic
chromadb-client
emoji
fal_client
jinja2
llama_index
markdown2
markdownify
mistralai
nltk
numpy
ollama
openai
pgvector
pydantic>=2.0.0
PyMuPDF
pyyaml
qdrant-client
replicate
requests
pyOpenSSL==22.0.0
cryptography==36.0.2
lxml_html_clean
fsspec[gcs]
